*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

.common{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

body.landing-page {
    background-image: url("images/FF.png");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;   
    min-height: 98vh;           
    width: 100%;
    margin: 0;
    padding: 0;
}

body.other-page{
    background-image: url("images/11.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.promotion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 50px;
    margin: 8px 60px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.promotion p{
    font-size: 14px;
    font-family:sans-serif;
}

.navbar{
    margin-left: 5%;
    margin-right: 5%;
}

.container{
    height: 45px;
    width: 180px;
    border-radius: 10px;
    background-color: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.container a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.container1{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: black;
    color: white;

    margin-left: 4%;
    margin-right: 15%;
}

.container2{
    height: 50px;
    width: 60px;
    border-radius: 15px;
    background-color: white;
    color: black; 

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.container1 a{
    text-decoration: none;
    color: white; 
    font-size: 25px;
    font-weight: bold; 
}

.container2 a{
    text-decoration: none;
    color: black; 
    font-size: 25px;
    font-weight: bold; 
}

#span{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.But{
    margin-top: 180px;
}

button{
    height: 70px;
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 90%; 
    border: 0;
}

button:hover{
    transform: scale(1.1);
    color: white;
    background-color: black;
}

.But a{
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* ============================== Account Section ======================================== */

body.account-page{
    background-color: #1f2029;
    height: 100vh;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(images/Login_Bg.png);
    object-fit: cover;
    background-size: 100%;
    overflow: hidden;
}

body.account-page {
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), /* opacity layer */
        url(images/Login_Bg.png);

    background-size: cover;
    background-position: center;
}

.account{
    height: 500px;
    width: 420px;
    position: relative; /* For Flip Setup */
    margin-top: 10px;
}

.toggle{
    position: absolute;
    left: -9999px;
}

.toggle-button{
    width: 160px;
    height: 40px;
    background-color: #ffeba7;
    border-radius: 20px;

    display: block;
    margin: 0px auto 20px auto;
    cursor: pointer;
    position: relative;
}

.toggle-button::before{
    content: '\eb4f';
    font-family: 'unicons';
    position: absolute;
    top: 50%;       
    left: 0%;      
    transform: translate(0, -50%); 
    width: 55px;
    height: 57px;
    border-radius: 50%;
    background-color: #102770;
    color: #ffeba7;
    font-size: 28px;
    line-height: 55px;  
    text-align: center;
    transition: 0.4s;

    transition: transform 0.5s ease-in-out; 
    transform: translateY(-50%);
    transform-origin: center; 
}

.toggle:checked + .toggle-button::before{
    transform: translateX(105px) translateY(-50%) rotate(-270deg);
}

.toggle-button .toggle-text{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-weight:700;
    font-size:18px;
    color:#102770;
    pointer-events:none;
    transition:.4s ease;right:16px;
}

.toggle-button .toggle-text::after{content:"Sign Up";}
.toggle:checked+.toggle-button .toggle-text{left:16px;right:auto;}
.toggle:checked+.toggle-button .toggle-text::after{content:"Log In";}

.card {
    width: 100%;
    height: 90%;
    perspective: 1000px;
    position: relative;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out; 
}

.toggle:checked ~ .card .card-inner {
    transform: rotateY(180deg);
}

.acc-front, .acc-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 0 8px 24px rgba(0,0,0,0.3);
}

.acc-back {
    transform: rotateY(180deg);
}

.acc-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.acc-front .acc-content {
    transform: translate(-50%, -65%);
}

.form-group {
    position: relative;
    margin: 15px 0;
}

.input {
    width: 100%;
    padding: 12px 20px 12px 50px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #fff;
    background-color: #1f2029;
    box-shadow: 0 4px 8px rgba(21,21,21,0.2);
    transition: 0.3s;
}

.input:focus {
    box-shadow: 0 0 0 2px rgb(219, 91, 91);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #f8e8b4;
    font-size: 20px;
}

.btn-primary {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    background-color: #ddc884;
    color: #102770;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color:#102770;
    color: #ffeba7;
}

@media (max-width: 768px) {
    .btn-primary{
        height: 50px;
        width: 150px;
        font-size: 20px;
        display: block;
        margin: 20px auto 0 auto;
    }   
}

.acc-content h1 {
    margin-bottom: 25px;
    font-weight: 600;
    color: #ffeba7;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 12px;
}

.social-icons i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #f1f1f1;
    color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px; 
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.social-icons a{
    text-decoration: none;
}

.social-icons .google:hover {
    transform: scale(1.12);
    background: #db4437;
    color: white;
}

.social-icons .facebook:hover {
    transform: scale(1.12);
    background: #1877f2;
    color: white;
}

/* ======================================= Main Class ================================= */

  .Bestsellar{
    height: 300px;
    background-color: #F2CEC7;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .image1 {
    width: 100%;
    height: 70%;
    
    object-fit: cover;
    border-radius: 25px;    
    margin: 15px auto;   
    display: block;
  }

  .p-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-align: center;
  }

  .sellar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 50px;
    background-color: black;
    color: white;
    margin-top: 17%;
  }

  .sellar a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
  }

  .B_Box{
    height: 300px;
    width: 200px;
    border-radius: 0px;
    padding: 10px;
  }

  .box-class {
      padding: 10px 20px;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 0%;
      margin-bottom: 5%;
    }
  
  .box{
    background-color: rgb(224, 224, 224);
    height: 420px;
    width: 250px;
    border-radius: 0px;
    margin-top: 40px;
    padding: 0px;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px;

    position: relative;
    overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;         
  }

  .box::before {
    content: "";
    width: 100%;
    height: 70%;    
    display: block;
  }

  .image:hover {
    transform: scale(1.3);
    transform-origin: center;
  } 

  .badge {
    position: absolute;
    top: 20px;
    left: 0px;

    background: red;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    font-weight: bold;
    z-index: 10;
    pointer-events: none;
  }
  
  .image {
    position: absolute;

    width: 100%;
    height: 70%;
    object-fit: cover;

    border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;     
    margin: 0 auto;   
    transition: transform .2s ease;
  }

  .product-info {
    text-align: center;
    margin-top: 5px;
  }
  
  .product-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    text-align: left;
    padding: 0px 0px 0px 20px;
  }
  
  .product-price {
    font-size: 1rem;
    color: #d43f3a; 
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
    padding: 0px 0px 0px 20px;
  }

  .cart{
    margin-top: 15px;
  }

  .view_more{
    height: 30px;
    width: 100px;
    border-radius: 25px;
    font-size: 14px;
    background-color: white;
    color: white;
  }

  .view_more a{
    text-decoration: none;
    color: black;
  }

  .add_to_cart{
    height: 30px;
    width: 100px;
    border-radius: 25px;
    font-size: 14px;
    background-color: white;
    color: white;
  }

  .add_to_cart a{
    text-decoration: none;
    color: black;
  }

  .view_more:hover{
    transform: scale(1.1);
    background-color: #eb524d;
    font-weight: bolder;
  }

  .add_to_cart:hover{
    transform: scale(1);
    background-color: #eb524d;
    font-weight: bolder;
  }
  
  .box::after {
    content: attr(data-label);
    font-size: 12px;
    color: white;
    margin-top: 5px;
  }

  /*  ============================= Footer =========================== */

  footer {
    background-color: #f5cec7;
    color: #000;
    font-family: Arial, sans-serif;
    padding: 50px 50px 20px;
    min-height: 150px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
    border-bottom: 3px solid rgb(184, 51, 51);
    padding-bottom: 80px;
    margin-left: 20px;
  }
  
  .footer-section {
    flex: 2;
    min-width: 300px;
    margin-top: 80px;
  }

  .footer-section h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .footer-section h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  
  .footer-section h4 {
    font-size: 1 rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 20px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: rgb(40, 39, 39);
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #f11e17;
  }
  
  .footer-section p {
    line-height: 1.6;
    font-size: 1rem;
    color: rgb(40, 39, 39);
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
  }

.email-box{
  width: 700px;
  margin: auto;
  margin-top: 10px;                 
  position: relative;    
 }

.email{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 12px;
  padding: 0 50px 0 20px;  
  font-size: 18px;
  outline: none;
  text-align: center;
}

.send-icon{
  position: absolute;
  right: 30px;             
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  color: black;
}

.send-icon:hover{
  color: rgb(210, 54, 54);

}


.connect{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 50px;
    margin: 20px 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.connect p{
    font-size: 14px;
    font-family:sans-serif;
}







